*{padding:0;
margen:0;}
h1{color: red;}
body{background-color: pink;}
button{color: white; background-color:blue;
text-decoration:none}
#nice{color:white;}
#bad{color:green;}
div{color:black;}
.heading{color:red}
#para{text-align:center;
text-decoration:line-through;
}
p{font-weight:bold;
font-family:arial;
font-size:25px;
text-transform:capitalize}